*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/background.jpg');
}

.main-container{
    width: 60%;
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    background-color: rgba(90, 90, 90, 0.897);
    color: black;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 185px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pro-image{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 15px;

}

.pro-image img{
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 50%;

}

.pro-Info{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: normal;
}

.pro-Info div{
    margin: 2px;
}


.pro-Info a{
   padding: 3px;
   margin-top: 5px;
   background-color: white;
   border-radius: 5px;
}

nav{
    background-color: rgb(56, 56, 56);
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.navbar-item{
    padding: 15px 35px;
    font-size: larger;
    color: white;
}
